inst/doc
.Rhistory
.RData
.Rproj.user
.hpp
.o
.DS_Store
.so
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
src/alphaepi.so
src/init.o
src/stan_files/.DS_Store
.DS_Store
src/stan_files/functions.hpp
src/stan_files/functions.o
src/stan_files/le_additive.hpp
src/stan_files/le_additive.o
src/stan_files/le_interact.hpp
src/stan_files/le_interact.o
src/stan_files/le_isotrop.hpp
src/stan_files/le_isotrop.o
